@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Roboto&display=swap');

:root {
    box-sizing: border-box;
    --richblack: #0d1b2a;
    --oxfordblue: #1b263b;
    --yinmnblue: #415a77;
}

body {
    background-color: var(--richblack);
    font-family: 'Roboto', sans-serif;
}